//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    * {
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
   
    aside,
    nav,
    footer,
    header,
    section {
        display: block;
    }

    html,
    body {
        height: 100%;
    }
    body {
        line-height: 1;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    input,
    button,
    textarea {
        font-size: inherit;
    }
    a,
    a:visited {
        text-decoration: none;
        color: inherit;
    }
    a:hover {
        text-decoration: none;
    }
    ul li {
        margin: 0;
        list-style: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: inherit;
        font-size: inherit;
    }



    .page-wrapper {

        .page-main {
            max-width: 100%;
            padding: 0;
        }
       
        .page {
            max-width: 1350px;
            width: 100%;
            padding: 0 15px;
            margin: auto;
        }
    }

    //Common classes==============================


    ._subtitle {
        color: @color-drexel-gray;
        font-size: @font-size_s;
        letter-spacing: 1px;
    }

    ._view-link {
        position: relative;
        cursor: pointer;
        text-decoration: none;
        font-size: @font-size_s;
        color: @color-drexel-black;
        letter-spacing: 1px;
        
        &:hover {
            color: @color-drexel-hover;
            
            &::after {
                background-color: @color-drexel-hover;
            }
        }
        &::after {
            display: block;
            position: absolute;
            content:'';
            height: 1px;
            background-color: @color-drexel-black;
            width: 100%;
            bottom: -5px;
            left: 0px;
            z-index: 100;
            }
        } 
    

    //Main baner============================================================

    .baner {
        &__container {
            background-color: @color-drexel-lightGray;
            min-width: 100vw;
            max-height: 887px;
            height: 100vw;
        }
        &__body {
            .lib-vendor-prefix-display(flex);
            justify-content: center;
            transform: translateY(55%);
        }
        &__image {
            .lib-vendor-prefix-flex-basis(550px); 
        }

    }
    
    .content {
        padding-top: 130px;
        .lib-vendor-prefix-flex-basis(550px); 
        &__title {
            color: @color-drexel-black;
            font-size: @font-size_xxl;
            font-weight: 400;
            letter-spacing: 5px;
            margin-bottom: 10px;
            span {
                font-weight: 700;
            }
        }
        &__text {
            padding-bottom: 50px;
        }
        &__link {
            
        }
    }

     //Categories============================================================

     .categories{

         &__container {
            width: 100%;
        }
        &__body {
            .lib-vendor-prefix-display(flex);
            justify-content: space-between;
            :not(:last-child) {
                margin-right: 20px;   
               }
        }
    
    }

    .item-category {
        background-color: @color-drexel-lightGray;
        min-height: 312px;
        max-width: 645px;
        width: 100%;

        .lib-vendor-prefix-display(flex);

        &__content {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction (column);
            align-items: flex-start;
            padding-top: 100px;
            padding-right: 20px;
        }

        &__img {
            padding-right: 20px;
            padding-left: 30px;
            img {
                max-width: 300px;
            }
           
        }
        &__title {
            margin-bottom: 10px;
            font-size: 28px;
            letter-spacing: 5px;
            span {
                font-weight: 700;
            }
        }
        &__text {
            margin-bottom: 20px;
            font-style: italic;
        }
        &__link {
            font-size: 14px;
            text-decoration: none;
            color: @color-drexel-black;
        }
    }
   
//Our Products =====================================================

    .products {
        &__container {
           width: 100%;
        }
        &__header {
            margin: 30px 0px;
            padding-bottom: 20px;
        }
        &__title {
            font-size: @font-size_xl;
            font-weight: 600;
            margin-bottom: 10px;
            letter-spacing: 1px;
        }
        &__subtitle {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                width: 30px;
                height: 3px;
                left: 0;
                bottom: -25px;
                background-color: @color-drexel-black;
            }
        }
    }
}


// Desktop max 1200px==================================

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    //Main baner

    .baner{
        &__body{
            .lib-vendor-prefix-flex-wrap(wrap);
            .lib-vendor-prefix-flex-direction (column);
            transform: none;
            justify-content: flex-start;
        }
        &__image {
            .lib-vendor-prefix-flex-basis(auto); 
            text-align: center;
            padding-top: 30px;;
            img{
                transform: translateX(-5%);
            }
        }
    }
    .content {
        .lib-vendor-prefix-flex-basis(auto);
        text-align: center; 
        &__text {
            padding-bottom: 30px;
        }
    }

    //Categories

    .categories{

        &__container {
       }
       &__body {
        .lib-vendor-prefix-flex-wrap (wrap);
       justify-content: center;
       :not(:last-child) {
        margin: 0 0 20px 0;   
       }
       }
   }

}

// Mobile max 769px========================

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    //Main baner

    .content {
       padding-top: 30px;
        &__text {
            padding-bottom: 30px;
        }
    }

    .baner__image {
        padding-top: 40px;
    }

    //Categories

    .categories__body {
        flex-direction: column;
        align-items: center;
    }

}


// Mobile max 650px========================

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {

    //Main baner
    .baner {
        &__container {
            min-height: 450px;
        }
        &__image img {
            max-width: 60%;
        }

    }

    .content {
        &__title {
            font-size: @font-size_xl;
        }
        &__text {
            font-size: @font-size_xs;
        }
    }

    //Categories

    .item-category {
        .lib-vendor-prefix-flex-wrap (wrap);
        justify-content: center;
        &__img {
            padding: 0;
            margin: 0;

        }
        &__content {
            padding: 20px 20px;
            align-items: center;
            margin-bottom: 20px;
        }
        &__text {
            text-align: center;
            margin-bottom: 30px;
        }
    }
    //Our products

    .products__header {
        text-align: left;
    }
}