//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    * {
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
   
    aside,
    nav,
    footer,
    header,
    section {
        display: block;
    }

    html,
    body {
        height: 100%;
    }
    body {
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    input,
    button,
    textarea {
        font-size: inherit;
    }
    a,
    a:visited {
        text-decoration: none;
        color: inherit;
    }
    a:hover {
        text-decoration: none;
        color: inherit;
    }
    ul li {
        margin: 0;
        list-style: none;
    }
    p{
        margin: 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: inherit;
        font-size: inherit;
    }



    .page-wrapper {

        .page-main {
            max-width: 100%;
            padding: 0;
        }
       
        .page {
            max-width: 1350px;
            width: 100%;
            padding: 0 (@indent__s + @indent__xs);
            margin: auto;
        }
    }

    //Common classes==============================

    ._container {
        margin-bottom: @indent__xl*3;
    }

    ._subtitle {
        color: @color-drexel-gray;
        .lib-font-size(@font-size_s);
        letter-spacing: 1px;
    }

    ._view-link {
        position: relative;
        cursor: pointer;
        text-decoration: none;
        .lib-font-size(@font-size_s);
        color: @color-drexel-black;
        letter-spacing: 1px;
        
        &:hover {
            color: @color-drexel-hover;
            
            &::after {
                background-color: @color-drexel-hover;
            }
        }
        &::after {
            display: block;
            position: absolute;
            content:'';
            height: 1px;
            background-color: @color-drexel-black;
            width: 100%;
            bottom: -5px;
            left: 0px;
            }
        } 
    
    ._title {
            .lib-font-size(@font-size_xl);
            font-weight: @font-weight-semiBold;
            letter-spacing: 1px;
            margin-bottom: @indent__s;
        }

    //Main baner============================================================

    .baner {
        &__container {
            background-color: @color-drexel-lightGray;
            min-width: 100vw;
            height: 900px;

        }
        &__body {
            .lib-vendor-prefix-display(flex);
            justify-content: center;
            transform: translateY(55%);
        }
        &__image {
            .lib-vendor-prefix-flex-basis(550px); 
        }

        &__content {
            padding-top: (@indent__xl*3+@indent__s);
            .lib-vendor-prefix-flex-basis(550px); 
        }

    }
    
    .content {
        &__title {
            color: @color-drexel-black;
            .lib-font-size(@font-size_exl);
            font-weight: @font-weight-regular;
            letter-spacing: 5px;
            margin-bottom: @indent__s;
            span {
                font-weight: @font-weight-bold;
            }
        }
        &__text {
            padding-bottom: (@indent__xl + @indent__s);
        }
        &__link {
            
        }
    }    

     //Categories============================================================

     .categories{

         &__container {
        }
        &__body {
            .lib-vendor-prefix-display(flex);
            justify-content: space-between;
            :not(:last-child) {
                margin-right: @indent__base;   
               }
        }
    
    }

    .item-category {
        background-color: @color-drexel-lightGray;
        min-height: 312px;
        max-width: 645px;
        width: 100%;

        .lib-vendor-prefix-display(flex);

        &__content {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction (column);
            .lib-vendor-box-align(flex-start);
            padding-top: (@indent__m *4);
            padding-right: @indent__base;
        }

        &__img {
            padding-right: @indent__base;
            padding-left: @indent__l;
            img {
                max-width: 300px;
            }
           
        }
        &__title {
            margin-bottom: @indent__s;
            .lib-font-size(@font-size_xxl);
            letter-spacing: 5px;
            span {
                font-weight: @font-weight-bold;
            }
        }
        &__text {
            margin-bottom: @indent__base;
            font-style: @font-style-italic;
        }
        &__link {
            .lib-font-size(@font-size_s);
            text-decoration: none;
            color: @color-drexel-black;
        }
    }
   
//Our Products =====================================================

    .products {
        &__container {
        }
        &__header {
            margin: @indent__l 0px;
            padding-bottom: @indent__base;
        }

        &__subtitle {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                width: 30px;
                height: 3px;
                left: 0;
                bottom: -25px;
                background-color: @color-drexel-black;
            }
        }
    }


// November Sale ===================================================

.sale {

     &__title {
         margin-bottom: @indent__xs;
     }

    &__subtitle {
        text-transform: uppercase;
        color: @color-drexel-black;
    }

    &__body {
        position: relative;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        justify-content: center;
        width: 100%;
        height: 150px;
        background-image: url('https://i.ibb.co/Qms181R/Screenshot-2021-07-30-at-12-16-18-kare-k83990-624068820-800x800w-jpg-JPEG-Image-699-800-pixels.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -250px;

        &::before {
            content:'';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: @color-drexel-black;
            opacity:0;
            transition: all .3s ease 0s; 
        }
        &:hover {
            &::before {
                opacity: .3;
            }
        }
    }

    &__baner {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
    }

    &__content {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-box-align(center);
        justify-content: space-between;
        padding: 0 @indent__l*3;
    }
}

// Bestsellers =====================================================

.bestsellers {
    &__items {
        .lib-vendor-prefix-display(flex);
        justify-content: space-between;
    }
    &__item {
        width: 100%;
        max-width: 420px;
        max-height: 500px;
    }
}

.item {
    &__title {
        .lib-font-size(@font-size_l);
        text-transform: uppercase
    }
}

    //slider

    .bestsellers__body {
        .slick-track {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-wrap (wrap);
            .lib-vendor-prefix-flex-direction(column);
            max-height: 500px;
        }

        .bestsellers__item {
            .slick-arrow {
                opacity: 0;
                visibility: hidden;
            }
            &:hover {
                 .slick-arrow{
                    opacity: 1;
                    visibility: visible;
            }
        }
        }
    }


// NEWS ===========================================================

.news {

    &__header {
        margin: @indent__l 0px;
        padding-bottom: @indent__base;
    }

    &__subtitle {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 30px;
            height: 3px;
            left: 0;
            bottom: -25px;
            background-color: @color-drexel-black;
        }
    }

    &__items {
        .lib-vendor-prefix-display(flex);
        justify-content: space-between;
    }

    &__item {
     max-width: 420px;
     width: 100%;
     padding: 0 @indent__s;
    }
}

.item {

    &__title {
        .lib-font-size(@font-size_s);
        font-weight: @font-weight-semiBold;
    }

    &__date {
        color: @color-drexel-gray;
        margin: @indent__base 0;
        .lib-font-size(@font-size_xs);
        font-weight: @font-weight-light;
        font-style: @font-style-italic;
        i {
            padding-right: @indent__xs;
        }
    }

    &__text {
        color: @color-drexel-gray;
        .lib-font-size(@font-size_s);
        font-weight: @font-weight-light;
        line-height: 22px;
    }
}

// Brands ==================================================

.brands {
    
    &__title {
        text-align: center;
        .lib-font-size(@font-size_exl);
        margin-bottom: @indent__l;
            span {
                position: relative;
            &::after{
                display: block;
                position: absolute;
                content: '';
                height: 1px;
                width: 200%;
                top: 50%;
                left: 105%;
                max-width: 500px;
                background-color: @color-drexel-border;
            }
            &::before {
                display: block;
                position: absolute;
                content: '';
                height: 1px;
                top: 50%;
                right: 105%;
                width: 200%;
                max-width: 500px;
                background-color: @color-drexel-border;
            }
        }
    }

    &__body {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-wrap (wrap);
        justify-content: space-between;
    }

}
.brand {
        &__item {
            width: 20%;
            min-width: 130px;
            margin-bottom: @indent__base;
            text-align: center;
            img {
                margin: auto;
            }
        }
        &__name {
            margin-top: @indent__base;
        }
    }

    //brands slider

    .brands__body {
        .slick-dots {
            bottom: -60px;
        }

        .slick-prev,
        .slick-next {
            top: -30px;
        } 
    }

//Footer ===============================================

.footer {

    &__nav {
        .lib-vendor-prefix-display(flex);
        justify-content: space-between;
        max-width: 1350px;
        margin: auto;
        padding: 0 @indent__s + @indent__xs;
        padding-top: @indent__xl + @indent__base;
        padding-bottom: @indent__xl + @indent__l;
    }

    &__links {
        width: 25%;
    }

    &__title {
        .lib-font-size(@font-size_m);
        font-weight: @font-weight-medium;
        text-transform: uppercase;
        margin-bottom: @indent__xl;
        transition: color .3s;
        pointer-events: visible;

        &:hover {
            color: @color-drexel-gray;
        }
    }

    &__accordion {
        display: none;
    }

    &__link {
        .lib-font-size(@font-size_s);
        color: @color-drexel-gray;
        font-weight: @font-weight-light;
        transition: all .3s;
        position: relative;
        letter-spacing: .25px;
        
        &:hover {
            color: @color-drexel-black; 
        }
        &-hover {
            padding-bottom: @indent__base;
            &::before {
                display: block;
                opacity: 0;
                position: absolute;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: @color-drexel-gray;
                top: 7px;
                left: -5px;
                transition: left 0.1s ease 0.15s;
            }
            &:hover {
                transform: translateX(20px);
                &::before {
                    opacity: 1;
                    left: -15px;
                }
            }
        }
        &-icon {
                .lib-font-size(@font-size_m);
                padding-right: @indent__base;
        }
    }
    &__contacts {
        border-top: 1px solid @color-drexel-lightGray;
    }
}   

.contacts {

    &__container {
        max-width: 1350px;
        margin: auto;
        padding: @indent__xl @indent__s + @indent__xs;
        .lib-vendor-prefix-display(flex);
        justify-content: space-between;
    } 

    &__links {
        .lib-vendor-prefix-display(flex);
        p {
            color: @color-drexel-gray;
            padding-right: @indent__base;
        }
    }
    &__list{
        .lib-vendor-prefix-display(flex);
    }
    &__nav {
        li {
            padding-right: @indent__base;
            .lib-font-size(@font-size_xs);
            letter-spacing: 1px;
        }
    }

}


}

// Desktop max 1200px======================

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

    //Main baner

    .baner{
        &__body{
            .lib-vendor-prefix-flex-wrap(wrap);
            .lib-vendor-prefix-flex-direction (column);
            transform: none;
            justify-content: flex-start;
        }
        &__image {
            .lib-vendor-prefix-flex-basis(auto); 
            padding-top: @indent__l;
            img{
                margin: auto;
                transform: translateX(-5%);
            }
        }

        &__content {
            .lib-vendor-prefix-flex-basis(auto);
            text-align: center; 
        }
    }
    .content {
        &__text {
            padding-bottom: @indent__l;
        }
    }

    //Categories

    .categories{

        &__container {
       }
       &__body {
        .lib-vendor-prefix-flex-wrap (wrap);
       justify-content: center;
       :not(:last-child) {
        margin: 0 0 @indent__base 0;   
       }
       }
   }

   // our products slider

   .products__container {
    .slick-slide >div{
        .lib-vendor-prefix-display(flex);
        justify-content: center;
        }
    }


   //Bestsellers 

   .bestsellers {
       &__items {
        .lib-vendor-prefix-flex-wrap(wrap);
       }
       &__item {
           width: 50%;
       }
   }
}

// Mobile max 768px========================

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    //Main baner

    .content {
       padding-top: @indent__l;
        &__text {
            padding-bottom: @indent__l;
        }
    }

    .baner__container {
        height: 700px;
    }

    .baner__image {
        padding-top: @indent__xl;
    }

    //Categories

    .categories__body {
        .lib-vendor-prefix-flex-direction(column);
        .lib-vendor-box-align(center);
    }
    // Sale baner 

    .sale__content {
        padding: 0 @indent__xl;
    }

    //Bestsellers 

   .bestsellers {
        &__items {
            .lib-vendor-prefix-flex-direction(column);
            .lib-vendor-box-align(center);
        }
        &__item {
            min-width: 100%;
        }
    }

    // Footer 

    .footer {
        &__nav {
            .lib-vendor-prefix-flex-direction(column);
        }
        &__links {
            width: 100%;
        }
        &__title {
            margin-bottom: @indent__xs*3;
        }
        &__accordion {
            position: relative;
            display: block;
            cursor: pointer;
            float: right;
            width: 30px;
            height: 30px;
            .lib-font-size(@font-size_xs);
            background: @color-drexel-lightGray;
            color: @color-drexel-black;

            &::after {
                position: absolute;
                content: @icon-plus;
                font-family: @font-family-fontAwesome;
                top: 30%;
                left: 35%;
            }
        }

        &__links.opened {
            .footer__title {
                >.footer__accordion {
                    &::after {
                        content: @icon-minus;
                    }
                }
            }  
        }
    }

    .contacts {
        &__container {
            .lib-vendor-prefix-flex-direction(column);
            .lib-vendor-box-align(center);
            padding: @indent__base;
        }

        &__list {
            .lib-vendor-prefix-flex-wrap(wrap);
        }
        &__nav {
            padding-bottom: @indent__base;
            li {
                padding-right: @indent__s;
                padding-bottom: @indent__s;
            }
        }
    }
}


// Mobile max 650px========================

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    //Main baner
    .baner {
        &__container {
            height: 600px;
        }
        &__image img {
            width: 100%;
            max-width: 300px;
        }

    }

    .content {
        &__title {
            .lib-font-size(@font-size_xl);
        }
        &__text {
            .lib-font-size(@font-size_xs);
        }
    }

    //Categories

    .item-category {
        .lib-vendor-prefix-flex-wrap (wrap);
        justify-content: center;
        &__img {
            padding: 0;
            margin: 0;

        }
        &__content {
            padding: @indent__base @indent__base;
            .lib-vendor-box-align(center);
            margin-bottom: @indent__base;
        }
        &__text {
            text-align: center;
            margin-bottom: @indent__l;
        }
    }
    //Our products

    .products__header {
        text-align: left;
    }

    // Sale baner 

        .sale{

            &__body{
                background-position-y: -50px;
            }

            &__content {
            .lib-vendor-prefix-flex-direction(column);
            text-align: center;
            }

            &__description {
                margin-bottom: @indent__base;
            }
        }


    // NEWS

        .news{
            &__items {
                .lib-vendor-prefix-flex-wrap(wrap);
                justify-content: center;
            }
        }
}