//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //Category Page

    .page-products {
        .page-title-wrapper {
        display: none;
        }

        .breadcrumbs{
            margin: @indent__base 0 @indent__base 0;
            padding: 0;

            .item.home {
                a:visited {
                    color: inherit;
                }
            }

            .item.category4 {
                color: @color-drexel-black;
            }
        }

        .sidebar{
            &-slider {
                max-width: 310px;
                max-height: 340px;
                margin: @indent__xl 0;
            }
            &-slide {
                width: 100%;
            }
        }

        .toolbar-products {
            .modes-mode {
                width: 32px;
                height: 32px;
                border: none;
                border-radius: 0;
                background: @color-drexel-lightGray;
                box-shadow: none;
                margin-right: @indent__xs;
                transition: all .3s;
                position: relative;
                &::before {
                    position: absolute;
                    left: 8px;
                    top: 8;
                }
                &:hover {
                    background: @color-drexel-black;
                    &::before {
                        color: @color-drexel-white;
                    }
                }
                &.active {
                    box-shadow: none;
                    background: none;
                    background: @color-drexel-black;
                    &::before {
                        color: @color-drexel-white;
                    }
                }

            }

            .pages-items {
                .item {
                    .lib-font-size(@font-size_s);

                    width: 36px;
                    height: 36px;
                    background: @color-drexel-lightGray;
                    line-height: 36px;
                    transition: all .3s;
                    a{
                    color: inherit;
                        &:visited {
                        color: inherit;
                        }
                    }
                    &:hover {
                        background: @color-drexel-black;
                        color: @color-drexel-white;
                        .action::before {
                            color: @color-drexel-white;
                        }
                    }
                }
                .item.current {
                    background: @color-drexel-black;
                    strong{
                        .lib-font-size(@font-size_s);
                        font-weight: inherit;
                        color: @color-drexel-white;
                        background: none;
                    }
                }
                .action {
                    width: 100%;
                    box-shadow: none;
                    padding: 0;
                    border: none;
                    margin: 0;
                    background: none;

                    &::before {
                        content: @icon-arrow;
                        font-family: @font-family-fontAwesome;
                    }
                    &.previous {
                        &::before {
                            transform: rotate(180deg);
                            padding-left: @indent__xs - 1;
                        }
                    }
                }
            }

           .limiter .select2 span{
                height: 36px;
                line-height: 36px;
                .lib-font-size(@font-size_s);
            }
        }

        .filter-subtitle {
            display: none;
        }

       .columns {
        .sidebar {
           width: 25%;
            }
        .column.main {
            width: 75%;
        }  
       } 
       
       .sidebar-main {

            .filter-options{

            li {
                list-style: none;
            }
            &-title {
                .lib-font-size(@font-size_l);
                font-weight: @font-weight-semiBold;
                letter-spacing: 1px;
                padding-right: @indent__base;
            }

            &-item {
                padding-bottom: @indent__l;
                border-color: @color-drexel-border;
            }
        }

        }

        .sidebar-additional {
            .block-title strong{
                font-weight: @font-weight-medium;
                color: @color-drexel-black;
            }
            div {
                color: @color-drexel-gray;
                font-weight: @font-weight-light;
            }
        }
        .product-item {
            width: auto;
        }

        .page-footer {
            border-top: 1px solid @color-drexel-border;
        }

        //List View

        .products-list {
            .product-item {
                // pointer-events: none;
                max-width: 100%;
                margin-bottom: @indent__xl;
                &:hover {
                    .product-item-photo {
                        opacity: 1;
                    }
                    .price-box {
                        opacity: 1;
                        transform: none;
                    }
                }

                &-description {
                    .lib-font-size(@font-size_xs);
                    color: @color-drexel-gray;
                    font-weight: @font-weight-light;
                    line-height: 22px;

                    p {
                        padding: @indent__s 0;
                    }

                    .more {
                        display: none;
                    }
                }

                &-photos {
                    max-width: 310px;
                }

                &-photo-hovered {
                    display: none;
                }

                &-info {
                    .lib-vendor-prefix-display(flex);
                }

                &-name {
                    .lib-font-size(@font-size_l);
                    color: @color-drexel-black;
                    text-align: left; 
                    margin: 0;
                }

                &-inner {
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-prefix-flex-direction (column);
                    height: 100%;
                    max-height: 330px;
                    justify-content: space-between;
                }

                &-details {
                    padding: 0 @indent__l;
                    display: block;
                    text-align: left;
                }

                .price-box {
                    position: absolute;
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-prefix-flex-direction (column); 
                    top: 230px;
                    span {
                        .lib-font-size(@font-size_l);
                        color: @color-drexel-gray;
                        font-family: @font-family__base;
                        font-weight: @font-weight-regular;
                    }
                }

                &-actions {
                    .lib-vendor-prefix-display(flex);
                    order: 2;

                    .actions-primary {
                        position: static;
                        opacity: 1;
                        transform: none;
                        width: 150px;
                        height: 45px;

                        form {
                            height: 100%;
                            width: 100%;

                        }

                        button {
                            border: none;
                            font-family: @font-family-poppins;
                            font-weight: @font-weight-regular;
                            padding: 0;
                            height: 100%;
                            width: 100%;
                            background: @color-drexel-black;
                            text-align: center;
                            color: @color-drexel-white;
                            transition: all .3s;
                            &:hover {
                                opacity: 0.6;
                            }
                        }
                    }

                    .actions-secondary {
                        opacity: 1;
                        position: static;
                        transform: none;
                        height: auto;
                        width: 100px;
                        &-list {
                            .lib-vendor-prefix-flex-direction (row); 
                            padding: 0;
                            &-item {
                            .lib-font-size(@font-size_l);
                                &:first-child {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }   
// Our products

    .product-item .action.towishlist{ 
        &::before {
            display: none;
        }
    }
    
    .product {

        &-items {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-wrap (wrap);
            justify-content: space-between;
            list-style: none;
        }

        &-item{
            margin-bottom: @indent__l;
            position: relative;
            &-info {
                position: relative;
            }

            &-photo {
                opacity: 1;
                transition: all 0.3s ease 0s;
            }

            &-photo-hovered {
                opacity: 0;            
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                transition: all 0.3s ease 0s;                       
            }

            &:hover {
                
                .product-item-photo {
                    opacity: 0;
                }

                .product-item-photo-hovered {
                    opacity: 1;
                }

                .actions-primary {
                    transform: translateX(136%);
                    opacity: 1;
                }

                .actions-secondary {
                    opacity: .9;
                    transform: translateY(-215%);
                }

                .price-box {
                    transform: translateX(20%);
                    opacity: 0;
                }
            }

            &-details {
                text-align: center;
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction (column);
                justify-content: space-between;
            }

            &-name {
                margin: @indent__l 0px 10px 0px;
                .lib-font-size(@font-size_s);
                font-weight: @font-weight-regular;
                text-transform: uppercase;
                color: @color-drexel-gray;
                letter-spacing: 1px;
            }

            &-link {
                transition: color .3s;
                &:hover {
                    color: @color-drexel-black;
                }
            }

            &-actions {

                text-align: center;

                .actions-primary {
                    opacity: 0;
                    transition: all 0.3s ease 0s;
                    position: absolute;
                    bottom: -3px;

                    button {
                        background-color: white;
                        font-family: @font-family-oswald;
                        font-weight: @font-weight-medium;
                        text-transform: uppercase;
                        .lib-font-size(@font-size_s);
                        color: @color-drexel-black;
                        letter-spacing: 1px;
                        border: none;
                        border-bottom: 1px solid @color-drexel-black;
                        padding: 0px 0px @indent__s 0px;
                        border-radius: 0%;

                        &:hover {
                            background-color: white;
                            color: @color-drexel-hover;
                            border: none;
                            border-bottom: 1px solid @color-drexel-gray;
                        }
                    }       
               }
                .actions-secondary {
                    opacity: 0;
                    position: absolute;
                    width: 60px;
                    height: 160px;
                    background-color: @color-drexel-white;
                    z-index: @z-index-1;
                    left: 40%;
                    transform: translateY(-120%);
                    transition: all 0.3s ease 0s;
                    
                    &-list {
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-prefix-flex-direction (column);
                        .lib-vendor-box-align(center);
                        justify-content: space-between;
                        padding: (@indent__s + @indent__xs) 0;

                        &-item {
                            width: 100%;
                            height: 43px;
                            cursor: pointer;

                            &:hover {
                                span {
                                color: @color-drexel-hover;
                                }
                            }

                            span {
                                color: @color-drexel-black;
                                .lib-font-size(@font-size_m);
                                line-height: 43px;    
                            }
                        }
                    }
               }
            }

            .price-box {
                opacity: 1;
                transition: all 0.2s ease 0s;

                .price-label {
                    display: none;
                }

                span[data-price-type="finalPrice"] {
                    font-family: @font-family-oswald;
                    .lib-font-size(@font-size_l);
                    font-weight: @font-weight-bold;
                }

                span[data-price-type="oldPrice"] {
                    color: @color-drexel-darkGray;
                    font-family: @font-family-oswald;
                    .lib-font-size(@font-size_s);
                    font-weight: @font-weight-regular;
                    text-decoration:line-through;
                }              
            }
        }
    }

// Bestsellers
.bestsellers__items {

    h2 {
        border-bottom: 1px solid @color-drexel-lightGray;
        padding-bottom: @indent__base;
    }

    .product {
        &-items {
            .lib-vendor-prefix-flex-direction(column);
        }

        &-item {
            &-info {
                .lib-vendor-prefix-display(flex);
            }

            &-details {
                text-align: start;
                justify-content: flex-start;
                padding-left: @indent__s;
            }

            &-name {
                margin: 0 0 @indent__s 0;
            }

            &-photos {
                position: relative;
                width: 90px;
            }
            &-photo {
                width: 100%;
                display: block;
            }
            &-actions {
                display: none;
            }
            &:hover {
                .price-box {
                    transform: none;
                    opacity: 1;
                }
            }
        }
    }
}

.page-products .page-wrapper{
    main {
        max-width: 1350px;
        padding: 0 15px;
    }
}


}

// Mobile max 1200px========================

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .page-products {

        .columns {
            .sidebar {
               width: 30%;
                }
            .column.main {
                width: 70%;
            }  
        } 

        .product-items {
            justify-content: space-around;
            .lib-vendor-box-align(center);
        }

        .products-list {
            .product-item{

                &-photos {
                    max-width: 250px;
                }

                &-description {
                    ul {
                        display: none;
                    }
                }
    
                &-actions {
                    .lib-vendor-prefix-flex-direction (column); 
                }
    
                .price-box {
                    top: 180px;
                }
            }
        }
    }
}

// Mobile max 768px========================


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-products {

        .columns {
            .sidebar {
                order: 2;
                margin-bottom: @indent__base;
            }
        }

        .sidebar-slider {
            display: none;
        }

        .filter-title {
            strong {
                display: none;
            }
        }

        .filter-options {
            display: block;
            order: 2;
        }

        .toolbar-products {
            margin: @indent__base 0;
        }
    }

}

// Mobile max 650px========================

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    

    .product{
        &-items {
            .lib-vendor-prefix-flex-direction(column);
            .lib-vendor-box-align(center);
        }

    }

    .page-products {
        .toolbar-products {
            margin: @indent__base 0;
        }

        .pages-items {
            padding-top: 0;
        }
        .products-list {
            .product-item{
                &-details {
                    text-align: center
                }
                &-info {
                    .lib-vendor-prefix-flex-direction (column);
                    .lib-vendor-box-align(center); 
                }
    
    
                &-actions {
                    .lib-vendor-prefix-flex-direction (column);
                    .lib-vendor-box-align(center);
                    
                    .actions-primary {
                        order: 2;
                    }
                }
    
                .price-box {
                    position: static;
                    top: 180px;
                }
            }
        }
    }
}

